%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button',
        aria: { contorls: 'navbar', expanded: 'false' },
        data: { target: '#navbar', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.meta.site, root_path, class: 'navbar-brand'

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to new_user_registration_path do
            &nbsp;
            = t('helpers.label.user.sign_up')
        %li
          = link_to new_user_session_path do
            &nbsp;
            = t('helpers.label.user.log_in')
