%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button',
        aria: { contorls: 'navbar', expanded: 'false' },
        data: { target: '#navbar', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.meta.site, root_path, class: 'navbar-brand'

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to new_users_item_path do
            %i.fa.fa-bell
            &nbsp;
            = t('application.users_navbar.item')

        %li
          = link_to destroy_user_session_path, method: :delete do
            &nbsp;
            = t('helpers.label.user.log_out')
